.App {
  text-align: center;
  overflow: hidden;
  flex-direction: row;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
}

.Header {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #3B8686;
}

.Header h1 {
  color: white;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height: calc(100vh - 80px);
  padding-top: 80px;
}

.Button {
  background-color: #3B8686;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

.Button:hover {
  background-color: rgb(16, 116, 116);
  transition: all 0.3s;
}

.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalContent {
  background-color: white;
  padding: 20px;
  width: 500px;
}

.NavBar {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(16, 116, 116);
  width: 100%;
}

.NavBar nav {
  display: flex;
  flex-direction: row;
}

.NavBarItem {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 50px;
  color: white;
}

.NavBarItem:hover {
  background-color: #3B8686;
  cursor: pointer;
}

.Post {
  padding: 20px;
}

.Post:hover {
  background-color: white;
}

.PostImg {
  background-size: cover;
  height: 400px;
  width: 100%;
}

.PostContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.Tile {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.Tile img {
  width: 100%;
}

.camps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  padding: 20px 0 120px;
}

.camp {
  display: flex;
  width: 33.33%;
}

.camp:hover {
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s;
}

.content {
  width: 60%;
}

.posts {
  margin: 80px 0;
}

.splash {
  height: 350px;
  background-size: cover;
  background-position: 0% center;
}

input {
  background-color: white;
  border-radius: 5px;
  border-color: #ddd;
  border-width: 1px;
  margin-bottom: 16px;
  padding: 10px;
}

form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  flex: 1;
}

form input {
  width: 100%;
}

p {
  line-height: 1.6;
  text-align: left;
}

.purchase-modal-content img {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}